body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.scrolling-container {
    height: 100vh;
    overflow-y: scroll;
    perspective: 1px;
    perspective-origin: 0 0;
    position: relative; 
}

.scrolling-content {
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../public/assets/wallp.jpg') repeat-y;
    background-size: 100% 1000%; /* Adjust this value based on your image dimensions */
    animation: stretch 50s linear infinite; /* Adjust animation duration as needed */
}

@keyframes stretch {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(100);
    }
}